<ul class="nav nav-tabs"  id="chart-tabs">
  <li><a href="#bar-chart" data-toggle="tab">Bar chart</a></li>
  <li><a href="#bubble-chart" data-toggle="tab">Bubble chart</a></li>
 </ul>
 <div class="tab-content">
  <div class="tab-pane active" id="bar-chart"></div>
  <div class="tab-pane" id="bubble-chart">...</div>
</div>