$("#IdeaStream").empty();
$(".tags").empty();
<% if @tags %>
  <% @tags.each do |tag| %>
    $(".tags").append("<li><label class=\"tag\"> <%= escape_javascript(tag) %> </label></li>")
  <% end %>
<% end %>
$("#IdeaStream").append("<div class='page'><%= escape_javascript(render :partial => '/ideas/show') %></div>");
$("#IdeaStream").append("<div class='page'><%= escape_javascript(render :partial => '/home/stream') %></div>");
apply_infinite_scrolling();