$('.alert').hide();
$('#notice').hide();
$('.btn-unarchive').replaceWith("<a data-toggle='modal' data-target='#archive-modal' class='btn btn-danger btn-archive'>Archive</a>");
$('.archive-status').show();