<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to IdeaRator, <%= @user.username %></h1>
    <p>
        Your request to become a committee member has been denied but you can still enjoy our site as a regular user !
      <br/>
    </p>
    <p>
      To checkout the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>