<!DOCTYPE html>
<html>
  <head>    

	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
	
  </head>
  <body>
    <p>
     A new user has signed up as a committee member. Review their account and approve/reject their request.
    </p>
  </body>
</html>
