<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to IdeaRator <%= @user.username %></h1>
    <p>
      Congratulations you have been accepted to become a committee member you can log in with your user account normally but now you have updated priveleges<br/>
    </p>
    <p>
      To checkout the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>