.idea-votes {
  padding-top: 22px;
  padding-right: 0px;
  top: 8px;
  left: 21.5px;
  display: block;
  width: 28px;
  height: 22px;
}
.idea-popover {
  width: 600px;
}
#popoverIdeaWhole {
  max-width: 261px;
  max-height: 536px;
}
#imageTag {
  margin-left: -110px;
  margin-top: 6px;
}
#numberCommentsPopover {
  margin-left: 31%;
}
#votesPopover {
  margin-top: 1%;
  margin-right: 47%;
}
#commentsPopover {
  margin-left: 20%;
}
.tagsPopover {
  margin-top: -1%;
  margin-left: 22%;
}
#userTag {
  margin-left: -25%;
}
#titleTag {
  margin-left: 0%;
  margin-top: 3%;
}
#descriptionTag {
  width: 26%;
  margin-top: -1%;
  padding-left: -1%;
}
#desPop {
  margin-left: 16%;
}


#commentsPopovers {
  margin-top: 4%;
  margin-left: 2%;
}
.popover #votesVotes {
  font-size: 24px;
  margin-left: -5%;
}
#popoverWhole {
  margin-left: -2%;
  margin-top: -2%;
}
.tagsIdea{
  padding-left: 135px;
}
.usernameId{
  padding-left: 374px;

}