<% if current_user.type == 'Committee' %>
  <input type="text" id="rating_complete" name="blah2" />
  <h1>Add Prespectives</h1>
  <ul id="rating">
  </ul>
  <div id ="flash">
  </div>
  <div id ="ratings">
    <%= button_to_function "Submit Prespectives" , "sendAjax()" %>
  </div>
  <script type="text/javascript">
    function sendAjax(){
      var list = "";
      var i=0;
      $('.token-input-list-facebook li p').each(function(){
        list += "rating[]="+$(this).text()+"&";
        i=i+1;
      
      }); 
   
      $.ajax("/add_rating?"+list);
    } 
  </script>
<% end %>