.unauthorized-body {
  overflow: hidden;
}

.unauthorized-sign-up.span4 {
  width: 280px;
  min-height: 360px;
  margin-left: 0px;
}

.unauthorized-sign-in-up.span4 {
  width: 280px;
  min-height: 360px;
}

.unauth-remember-me {
  margin-bottom: 10px;
}

.unauth-header {
  margin-top: 0px;
}

.unauth-sign-in {
  display: block;
  width: 170px;
  height: 40px;
  font-size: 0;
  padding-top:15px;
}

.unauth-left {
  margin-left: 0px;
}

.unauth-right {
  margin-left: -560px;
}

.unauth-buttons {
  min-height: 360px;
  margin-left: 10px;
  width: 160px;
}

.unauth-min-height {
  min-height: 360px;
}

.unauth-width {
  width: 530px;
}

.unauth-huge {
  width: 9999px;
}

.unauth-change-margin{
  margin-left: 0px;
  margin-right: 10px;
}

.unauth-modal-close:hover{
  text-decoration: none;
}

.unauth-sign-in-div{
  padding-top:50px;
}

.unauth-sign-in-social{
  display: block;
  width: 170px;
  height: 40px;
  font-size: 0;
}

.sign_up_button{
  margin-top:5px;
  margin-bottom:0px;
}

.sign_in_button{
  margin-top:5px;
  margin-bottom:0px;
}

.sign-in-form .remember_me_label{
  margin-left:5px;
}

.sign-in-form .sign_in_button{
  margin-top:10px;
}